<template>
    <b-button v-b-modal.modal-add :class="StatusNews == 1 ? 'btn btn-success' :'btn btn-secondary'" @click="statusNews">{{StatusNews == 1 ? "Показано" : "Скрыто"}}</b-button>
</template>

<script>
    export default {
        props: ['id','status'],
        data:function() {
            return  {
            StatusNews: 0
            }
        },
        mounted() {
            console.log('Component button mounted.')
            this.StatusNews = this.status;
        },
        methods:{
            statusNews(){
                console.log("status");
                if(this.StatusNews == 0){
                    this.StatusNews = 1
                }else{
                    this.StatusNews = 0;
                }
                const formData = new FormData();
                formData.append('_method',"post");
                formData.append('id', this.id);
                formData.append('status', this.StatusNews);
                const headers = { 'Content-Type': 'multipart/form-data' };
                axios.post('/api/news', formData, { headers }).then((res) => {
                    console.log(res);
                });
            }
        },
    }
</script>
