<template>
    <b-button v-b-modal.modal-add>Добавить</b-button>
</template>

<script>
    export default {
        mounted() {
            console.log('Component button mounted.')
        }
    }
</script>
