<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md">
                <a :href="href" class="card news">
                    <div class="card-header">{{title}}</div>
                    <div class="card-body news-body">
                        <div class="icon">
                            <img :src="img" alt="">
                        </div>
                        <div class="left">
                            <div class="text">{{text}}</div>
                            <div class="date">
                                {{
                                    (new Date(date).getDate() >= 10 ? (new Date(date).getDate()) : '0' + (new Date(date).getDate())) + '/' +
                                    (new Date(date).getMonth()+1 >=10 ? (new Date(date).getMonth()+1) : '0'+(new Date(date).getMonth()+1) )+ '/' +
                                    (new Date(date).getFullYear())
                                }}
                            </div>
                        </div>
                    </div>

                </a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['title','text','img','date','href'],
        mounted() {
            console.log();
            console.log('Component news mounted.')
        },
    }
</script>
