<template>
    <b-modal id="modal-add" title="Добавление новости" @ok="handleOk">
            <form method="post" :action={route}>
                <b-form-input
                ref="name"
                placeholder="Заголовок"
                ></b-form-input>
                 <input ref="file" type="file" accept="image/png, image/jpeg"  class="form-control" />
                <b-form-textarea placeholder="Текст" ref="text"></b-form-textarea>
            </form>
    </b-modal>
</template>

<script>
    export default {
        props: ['route','name','file','text'],
        mounted() {
            console.log('Component modal window mounted.')
        },
        methods:{
            handleOk(bvModalEvt) {
            // Prevent modal from closing
            bvModalEvt.preventDefault()
            console.log(bvModalEvt);
            console.log(this.$refs.file.files[0]);
            const formData = new FormData();
            formData.append('_method',"PUT");
            formData.append('name', this.$refs.name.$el.value);
            formData.append('text', this.$refs.text.$el.value);
            formData.append('file', this.$refs.file.files[0]);
            const headers = { 'Content-Type': 'multipart/form-data' };
            axios.post('/api/news', formData, { headers }).then((res) => {
                console.log(res);
                location.reload('/');
            });
            this.$nextTick(() => {
                this.$bvModal.hide('modal-add')
            })
            },
        }
    }
</script>
