<template>
    <div class="container">
        <div class="row justify-content-center">
             <news-component
                v-for="item in items"
                :key="item.id"
                v-bind:title="item.name"
                v-bind:text="item.text"
                v-bind:img="item.img ? item.img : '/storage/empty.png'"
                v-bind:date="item.created_at"
                v-bind:href="'/'+item.id"
                ></news-component>
        </div>
    </div>
</template>

<script>
import NewsComponent from './NewsComponent.vue';
    export default {
  components: { NewsComponent },
      data:function() {
         return  {
           items: []
         }
         },
        mounted() {
            console.log('Component news mounted.')
            axios.get('/api/news').then(r => {
                console.log(r.data);
                this.items = r.data;
            });
        },
    }
</script>
