<template>
    <b-button v-b-modal.modal-add class="btn btn-danger" @click="deleteNews">Удалить</b-button>
</template>

<script>
    export default {
        props: ['id'],
        mounted() {
            console.log('Component button mounted.')
        },
        methods:{
            deleteNews(){
                console.log("delete");
                const formData = new FormData();
                formData.append('_method',"delete");
                formData.append('id', this.id);
                const headers = { 'Content-Type': 'multipart/form-data' };
                axios.post('/api/news', formData, { headers }).then((res) => {
                    console.log(res);
                    location.replace('/');
                });
            }
        }
    }
</script>
